<div class="col-box">
<h4 style="font-size: 16px;font-weight: bold;color: #424242;">Aboutme</h4>
  <img class="avatar" src="{{ site.avatar }}" alt="{{ site.author }}">
  <p>{{ site.profile }}</p>
  <p class="contactme">
  You can contact me via:
    {% if site.email %}
    <a href="mailto:{{ site.email }}">Email</a>/
    {% endif %}
    {% if site.github_username %}
    <a href="https://github.com/{{ site.github_username }}">GitHub</a>/
    {% endif %}
    {% if site.homepage_username %}
    <a href="http://www.{{ site.homepage_username }}.cn">TheGoFind.cn</a>
    {% endif %}
  </p>
</div>

<br><br>

<div class="col-box">
  <div class="col-box-title">Site Search</div>
  <form onsubmit="search_google()" >
    <input type="text" id="google-search" placeholder="Google search" />
    <input type="submit" name="sa" value="Go" />
  </form>
</div>

<br>

<div class="col-box">
  <div class="col-box-title">Newest Posts</div>
  <ul class="post-list">
    {% for post in site.posts limit:5 %}
      <li><a class="post-link" href="{{ post.url | prepend: site.baseurl }}">{{ post.title }}</a></li>
    {% endfor %}
  </ul>
</div>

<br>

<div class="col-box">
  <div class="col-box-title">Categories</div>
  {% for cat in site.categories %}
  <li><a href="{{ site.baseurl }}/category/#{{ cat[0] }}" title="{{ cat[0] }}" rel="{{ cat[1].size }}">{{ cat[0] }} ({{ cat[1].size }})</a></li>
  {% endfor %}
</div>

<br>

<div class="col-box post-toc hide">
  <div class="col-box-title">TOC</div>
</div>